// Typography

//Font Family
$playfair: 'Playfair Display', italic;
$roboto: 'Roboto', sans-serif;


//Font Weight
$regular: 400;
$med: 300;
$black: 900;


//Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

